@import "./react-contextmenu.css";

*,
*:before {
    box-sizing: border-box;
}

body {
    font-family: "Yu Gothic", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    font-weight: 500;
}

.select-charactor {
    display: flex;
    flex-wrap: wrap;
    width: 680px;
    margin-top: 20px;
    .jinro-charactor {
        margin-right: 4px;
        margin-bottom: 4px;
        &:first-child {
            margin-bottom: 200px;
        }
    }
}
.jinro-charactor {
    width: 70px;
    max-width: 70px;
    height: 70px;
    max-height: 70px;
    display: flex;
    justify-content: center;
    position: relative;
    .react-contextmenu-wrapper {
        display: flex;
        justify-content: center;
        position: relative;
    }
    .remove-charactor {
        position: absolute;
        right: 0;
        top:0;
        padding: 0 2px;
    }
    .charactor-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .chara-mark {
        position: absolute;
        color: white;
        border-radius: 4px;
        font-size: 11px;
        padding: 0 3px;
        bottom: 1px;
        &.chara-mark-co {
            top: 4px;
            bottom: auto;
            background-color: darkcyan;
        }
        &.chara-mark-color {
            top: 28px;
            bottom: auto;
            background-color: #efefefd4;
            color: black;
        }
        &.chara-mark-dead {
            bottom: 1px;
            background-color: rgba(29, 29, 31, 0.83);
            color: #ff6060
        }
        &.chara-mark-uranai {
            background-color: darkcyan;
        }
        &.chara-mark-white {
            background-color: rgba(123, 101, 255, 0.81);
        }
        &.chara-mark-black {
            background-color: #ff2a27b0
        }
        &.chara-mark-katashiro {
            background-color: #efefefd4;
            color: black;
        }
        &.chara-mark-reino {
            background-color: rgb(50, 96, 248);
        }
        &.chara-mark-syokei {
            background-color: rgba(29, 29, 31, 0.83);
            color: #ffc088;
        }
        &.chara-mark-muzan {
            background-color: rgba(29, 29, 31, 0.83);
            color: #ff6060
        }
        &.chara-mark- {
            display: none;
        }
    }
}


.uranai-row {
    height: 90px;
    border: 1px solid gray;
    display: flex;
    margin-bottom: 6px;
    position: relative;
    .uranai-results {
        border-right: 1px solid gray;
        display: flex;
        align-items: center;
        .uranai-result {
            position: relative;
            .jinro-charactor {
                margin: 0 4px;
            }
            .remove-result {
                position: absolute;
                right: 0;
                top: 0;
                padding: 0;
            }
        }
    }
    .remove-uranai-row {
        position: absolute;
        left: 0;
        top: 0;
    }
    .uranai {
        width: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid black;
    }
    .uranai-result {
        display: flex;
        width: 70px;
    }
    .result-child {
        display: flex;
        align-items: center;
        justify-content: center;
        &.result-drop-over {
            background-color: #ffa0a09c !important;
        }
        &.result-left {
        width: 50%;
        }
        &.result-right {
            width: 50%;
            background-color: #d2d2d2;
        }
    }
}